.fc {
    display:flex;
    background: white;
    height: 600px;
    width: 80vw;
    margin: 0;
    /* padding-top: 100px; */
}

.app {
    height:100vh;
}

.calendar.modalClass {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 15px;
    height: 100%;
    background-color: rgba(129, 187, 41, 0.5);
    /* display: flex;
    height:inherit; */
    /* overflow-y:auto !important; */
  }