* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-image: url(/src/images/HealthyFood_07.svg);
  height: max-content; */
  /* background-color: #f3f3f3; */ 
}

